## Library imports

In [36]:
import pandas as pd
import numpy as np
from statsmodels.stats.power import tt_ind_solve_power

## Data check

In [37]:
# Loading data

df = pd.read_csv('ab_testing.csv')

df

            uid country gender  spent  purchases        date  group device
0      11115722     MEX      F   1595          5  2016-03-08  GRP B      I
1      11122053     USA      M    498          2  2017-07-14  GRP B      I
2      11128688     USA      F   2394          6  2017-09-17  GRP A      I
3      11130578     USA      F   1197          3  2017-11-30  GRP A      I
4      11130759     ESP      M   1297          3  2018-01-10  GRP B      A
...         ...     ...    ...    ...        ...         ...    ...    ...
45878  99994149     DEU      F   1897          3  2017-02-05  GRP B      I
45879  99995092     USA      F    899          1  2017-08-18  GRP B      A
45880  99996986     BRA      M   2194          6  2014-12-06  GRP B      A
45881  99997035     USA      M   2196          4  2017-04-05  GRP A      I
45882  99999383     GBR      F    899          1  2017-09-04  GRP B      I

[45883 rows x 8 columns]

In [38]:
# Checking NA's

df.isna().sum()

uid          0
country      0
gender       0
spent        0
purchases    0
date         0
group        0
device       0
dtype: int64

In [39]:
# Checking data types

df.dtypes

uid           int64
country      object
gender       object
spent         int64
purchases     int64
date         object
group        object
device       object
dtype: object

In [40]:
# Checking duplicated

df.duplicated().sum()

0

In [41]:
# Seting 'date' column as datetime

df['date'] = pd.to_datetime(df['date'])

In [42]:
# Checking if the same user id does not belong to more than 1 group

df[['uid','group']].groupby('uid').count().sort_values(by='group', ascending=False)

          group
uid
11115722      1
70051633      1
70013059      1
70014245      1
70016073      1
...         ...
40783010      1
40783265      1
40783344      1
40784302      1
99999383      1

[45883 rows x 1 columns]

In [43]:
# Checking gender ================================================


print('Gender')

print(df['gender'].value_counts())

print(df['gender'].value_counts(normalize=True))

Gender
M    23116
F    22767
Name: gender, dtype: int64
M    0.503803
F    0.496197
Name: gender, dtype: float64

In [44]:
# Checking Gender proportion - Group A

print('Group A gender proportion:')
print(df.loc[df['group']=='GRP A','gender'].value_counts(normalize=True))

# Checking Gender proportion - Group B

print('\nGroup B gender proportion:')
print(df.loc[df['group']=='GRP B','gender'].value_counts(normalize=True))

Group A gender proportion:
M    0.505802
F    0.494198
Name: gender, dtype: float64

Group B gender proportion:
M    0.501792
F    0.498208
Name: gender, dtype: float64

In [45]:
# Checking country ================================================

print('Country')

print(df['country'].value_counts())

print(df['country'].value_counts(normalize=True))

Country
USA    13998
BRA     9009
MEX     5528
DEU     3696
TUR     3537
FRA     2842
GBR     2809
ESP     1934
CAN     1513
AUS     1017
Name: country, dtype: int64
USA    0.305080
BRA    0.196347
MEX    0.120480
DEU    0.080553
TUR    0.077087
FRA    0.061940
GBR    0.061221
ESP    0.042151
CAN    0.032975
AUS    0.022165
Name: country, dtype: float64

In [46]:
# Checking Country proportion - Group A

print('Group A country proportion:')
print(df.loc[df['group']=='GRP A','country'].value_counts(normalize=True))


# Checking Country proportion - Group B

print('\nGroup B country proportion:')
print(df.loc[df['group']=='GRP B','country'].value_counts(normalize=True))

Group A country proportion:
USA    0.301056
BRA    0.196358
MEX    0.125429
DEU    0.082142
TUR    0.078013
FRA    0.062280
GBR    0.060237
ESP    0.042157
CAN    0.030336
AUS    0.021991
Name: country, dtype: float64

Group B country proportion:
USA    0.309128
BRA    0.196336
MEX    0.115502
DEU    0.078954
TUR    0.076156
GBR    0.062210
FRA    0.061598
ESP    0.042144
CAN    0.035630
AUS    0.022340
Name: country, dtype: float64

## Calculating sample size

In [47]:
# nivel de significancia
alpha = 0.05

# power
power = 0.8

# spent
lift = 1.063
actual_mean_spent = 1880
expected_mean_spent = actual_mean_spent*lift 

# effect size
effect_size = (expected_mean_spent - actual_mean_spent) / df.loc[df['group']=='GRP A', 'spent'].std()


# sample_number
nobs1 = tt_ind_solve_power(effect_size = effect_size, alpha = alpha, power = power)

/home/gustavo/.pyenv/versions/3.8.0/envs/AB_testing/lib/python3.8/site-packages/scipy/stats/_continuous_distns.py:6832: RuntimeWarning: invalid value encountered in _nct_sf
  return np.clip(_boost._nct_sf(x, df, nc), 0, 1)
/home/gustavo/.pyenv/versions/3.8.0/envs/AB_testing/lib/python3.8/site-packages/scipy/stats/_continuous_distns.py:6826: RuntimeWarning: invalid value encountered in _nct_cdf
  return np.clip(_boost._nct_cdf(x, df, nc), 0, 1)

In [83]:
# nivel de significancia
alpha = 0.05

# power
power = 0.8

lift = 1.063

country_list = list(df['country'].unique())

df_aux = pd.DataFrame({'Country':np.nan,
                       'Minimum sample number':np.nan,
                       'GRP A required':np.nan,
                       'GRP B required':np.nan,
                       'GRP A available':np.nan,
                       'GRP B available':np.nan,
                       'Actual spent': np.nan,
                       'Expected lift': np.nan,
                       'Test possible?': np.nan}, index=[i for i in range(len(df['country'].unique()))])

#df_aux['Country'] = country_list


for i, it in zip(country_list, df_aux.index):
    
    actual_mean_spent = df.loc[(df['country']==i) & (df['group']=='GRP A'), 'spent'].mean()
    
    expected_mean_spent = actual_mean_spent*lift
    
    
    # effect size
    effect_size = (expected_mean_spent - actual_mean_spent) / df.loc[df['group']=='GRP A', 'spent'].std()
    
    # sample_number
    nobs1 = tt_ind_solve_power(effect_size = effect_size, alpha = alpha, power = power)
    
    # preenchendo o df
    df_aux.loc[it, 'Country'] = i
    
    df_aux.loc[it, 'Minimum sample number'] = nobs1
    
    df_aux.loc[it, 'GRP A required'] = nobs1
    
    df_aux.loc[it, 'GRP B required'] = nobs1
    
    df_aux.loc[it, 'GRP A available'] = ((df['group']=='GRP A') & (df['country']==i)).sum()
    
    df_aux.loc[it, 'GRP B available'] = ((df['group']=='GRP A') & (df['country']==i)).sum()
    
    df_aux.loc[it, 'Actual spent'] = actual_mean_spent
    
    df_aux.loc[it, 'Expected lift'] = expected_mean_spent
    
    df_aux.loc[it, 'Test possible?'] = ['No' if df_aux.loc[it,'GRP B available'] < df_aux.loc[it,'GRP A required'] else 'Yes'][0]
    
    
df_aux[['Minimum sample number',
        'GRP A required',
        'GRP B required',
        'GRP A available',
        'GRP B available']] = np.ceil(df_aux[['Minimum sample number',
                                              'GRP A required',
                                              'GRP B required',
                                              'GRP A available',
                                              'GRP B available']]).astype('int')

df_aux

/home/gustavo/.pyenv/versions/3.8.0/envs/AB_testing/lib/python3.8/site-packages/scipy/stats/_continuous_distns.py:6832: RuntimeWarning: invalid value encountered in _nct_sf
  return np.clip(_boost._nct_sf(x, df, nc), 0, 1)
/home/gustavo/.pyenv/versions/3.8.0/envs/AB_testing/lib/python3.8/site-packages/scipy/stats/_continuous_distns.py:6826: RuntimeWarning: invalid value encountered in _nct_cdf
  return np.clip(_boost._nct_cdf(x, df, nc), 0, 1)

,Country,Minimum sample number,GRP A required,GRP B required,GRP A available,GRP B available,Actual spent,Expected lift,Test possible?
0,MEX,2047,2047,2047,2886,2886,1902.705821,2022.576288,Yes
1,USA,2078,2078,2078,6927,6927,1888.376065,2007.343757,Yes
2,ESP,2302,2302,2302,970,970,1794.191753,1907.225833,No
3,GBR,2236,2236,2236,1386,1386,1820.470418,1935.160055,No
4,TUR,2070,2070,2070,1795,1795,1892.353203,2011.571455,No
5,DEU,2212,2212,2212,1890,1890,1830.453439,1945.772006,No
6,BRA,2053,2053,2053,4518,4518,1899.792165,2019.479071,Yes
7,FRA,2054,2054,2054,1433,1433,1899.752268,2019.436661,No
8,AUS,1930,1930,1930,506,506,1959.517787,2082.967407,No
9,CAN,2205,2205,2205,698,698,1833.154728,1948.643476,No

## Rascunhos

In [53]:
# Spent mÃ©dio Ã© de 1880

df[['group','spent']].groupby('group').mean().iloc[0,:]

# Dessa forma o objetivo da pÃ¡gina B Ã© aumentar o spent mÃ©dio para 2000

spent    1880.504281
Name: GRP A, dtype: float64

In [58]:
# Spent mÃ©dio atual 1880, faturamento:

1880 * 45883

86260040

In [61]:
# Spent mÃ©dio desejado 2000, faturamento:

2000 * 45883

91766000

In [62]:
# Lift absoluto

(2000 * 45883) - (1880 * 45883)

5505960

In [ ]:
# https://www.statsmodels.org/dev/generated/statsmodels.stats.power.tt_ind_solve_power.html#statsmodels.stats.power.tt_ind_solve_power