## Library imports

In [1]:
import pandas as pd
import numpy as np

## Data check

In [4]:
# Loading data

df = pd.read_csv('ab_testing.csv')

df

            uid country gender  spent  purchases        date  group device
0      11115722     MEX      F   1595          5  2016-03-08  GRP B      I
1      11122053     USA      M    498          2  2017-07-14  GRP B      I
2      11128688     USA      F   2394          6  2017-09-17  GRP A      I
3      11130578     USA      F   1197          3  2017-11-30  GRP A      I
4      11130759     ESP      M   1297          3  2018-01-10  GRP B      A
...         ...     ...    ...    ...        ...         ...    ...    ...
45878  99994149     DEU      F   1897          3  2017-02-05  GRP B      I
45879  99995092     USA      F    899          1  2017-08-18  GRP B      A
45880  99996986     BRA      M   2194          6  2014-12-06  GRP B      A
45881  99997035     USA      M   2196          4  2017-04-05  GRP A      I
45882  99999383     GBR      F    899          1  2017-09-04  GRP B      I

[45883 rows x 8 columns]

In [5]:
# Checking NA's

df.isna().sum()

uid          0
country      0
gender       0
spent        0
purchases    0
date         0
group        0
device       0
dtype: int64

In [40]:
# Checking data types

df.dtypes

uid           int64
country      object
gender       object
spent         int64
purchases     int64
date         object
group        object
device       object
dtype: object

In [55]:
# Checking duplicated

df.duplicated().sum()

0

In [42]:
# Seting 'date' column as datetime

df['date'] = pd.to_datetime(df['date'])

In [57]:
# Checking if the same user id does not belong to more than 1 group

df[['uid','group']].groupby('uid').count().sort_values(by='group', ascending=False)

          group
uid
11115722      1
70051633      1
70013059      1
70014245      1
70016073      1
...         ...
40783010      1
40783265      1
40783344      1
40784302      1
99999383      1

[45883 rows x 1 columns]

In [22]:
# Checking gender ================================================


print('Gender')

print(df['gender'].value_counts())

print(df['gender'].value_counts(normalize=True))

Gender
M    23116
F    22767
Name: gender, dtype: int64
M    0.503803
F    0.496197
Name: gender, dtype: float64

In [35]:
# Checking Gender proportion - Group A

print('Group A gender proportion:')
print(df.loc[df['group']=='GRP A','gender'].value_counts(normalize=True))

# Checking Gender proportion - Group B

print('\nGroup B gender proportion:')
print(df.loc[df['group']=='GRP B','gender'].value_counts(normalize=True))

Group A gender proportion:
M    0.505802
F    0.494198
Name: gender, dtype: float64

Group B gender proportion:
M    0.501792
F    0.498208
Name: gender, dtype: float64

In [26]:
# Checking country ================================================

print('Country')

print(df['country'].value_counts())

print(df['country'].value_counts(normalize=True))

Country
USA    13998
BRA     9009
MEX     5528
DEU     3696
TUR     3537
FRA     2842
GBR     2809
ESP     1934
CAN     1513
AUS     1017
Name: country, dtype: int64
USA    0.305080
BRA    0.196347
MEX    0.120480
DEU    0.080553
TUR    0.077087
FRA    0.061940
GBR    0.061221
ESP    0.042151
CAN    0.032975
AUS    0.022165
Name: country, dtype: float64

In [39]:
# Checking Country proportion - Group A

print('Group A country proportion:')
print(df.loc[df['group']=='GRP A','country'].value_counts(normalize=True))


# Checking Country proportion - Group B

print('\nGroup B country proportion:')
print(df.loc[df['group']=='GRP B','country'].value_counts(normalize=True))

Group A country proportion:
USA    0.301056
BRA    0.196358
MEX    0.125429
DEU    0.082142
TUR    0.078013
FRA    0.062280
GBR    0.060237
ESP    0.042157
CAN    0.030336
AUS    0.021991
Name: country, dtype: float64

Group B country proportion:
USA    0.309128
BRA    0.196336
MEX    0.115502
DEU    0.078954
TUR    0.076156
GBR    0.062210
FRA    0.061598
ESP    0.042144
CAN    0.035630
AUS    0.022340
Name: country, dtype: float64

## Calculating sample size

In [ ]:
# nivel de significancia

# power

# effect size

## Rascunhos

In [53]:
# Spent médio é de 1880

df[['group','spent']].groupby('group').mean().iloc[0,:]

# Dessa forma o objetivo da página B é aumentar o spent médio para 2000

spent    1880.504281
Name: GRP A, dtype: float64

In [58]:
# Spent médio atual 1880, faturamento:

1880 * 45883

86260040

In [61]:
# Spent médio desejado 2000, faturamento:

2000 * 45883

91766000

In [62]:
# Lift absoluto

(2000 * 45883) - (1880 * 45883)

5505960